.tweet {
  display: flex;
  flex-direction: column;
  border: solid;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

.tweet-header {
  display: flex;
  align-items: flex-start;
  padding: 5px;
  height: 60px;
}

textarea {
  line-height: .5;
}

.handle {
  display: none;
}

.tweet-header div:last-child {
  margin-left: auto;
}

.tweet:hover {
  box-shadow: 10px 10px 5px grey;
  
}
.tweet:hover div.handle {
  display: block;
}

h5 {
  margin-top: 0px;
}

h4 {
  border-bottom: 2px solid black;
  margin-bottom: 0px;
}


.footer {
  display: flex;
  height: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.footer div:first-child {
  margin-right: auto;
}
div.date {
  padding-top: 0;
}
div.f {
  padding-top: 0;
}
div.r {
  padding-top: 0;
}
div.h {
  padding-top: 0;
}
h6 {
  margin-top: 0;
}